.client__settings {
  width: 100%;
  height: 100vh;
  padding: 20px;
  h2 {
    font-size: 1.8rem;
  }
  .settings__card {
    margin-bottom: 20px;
    transition: 0.3s linear;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    min-height: 200px;
    &__icon {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #007bff;
      color: white;
      svg {
        font-size: 30px;
      }
    }
    h3 {
      font-size: 1.2rem;
    }
    p {
      font-size: 0.875rem;
      transition: 0.3s linear;
      color: rgb(79, 79, 79);
      font-weight: 200;
    }
    &:hover {
      color: #007bff;
    }
  }
}
.dark-mode{
    
}